<!--
  Author:    Nasser Mughrabi
  Partner:   None
  Date:      13-October-2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Nasser Mughrabi - This work may not be copied for use in Academic Coursework.
  I, Nasser Mughrabi, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source. Any references used in the completion of the assignment are cited in my README file.
  File Contents:
    This is an html file to contruct and structure the layout web page of the TA website
-->

@using TAApplication.Data
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext _context;
@{
    ViewBag.Context = _context;
}
@{
    ViewData["Title"] = "Home Page";
    var data = ViewBag.Context as ApplicationDbContext;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TAApplication</title>
    <link rel="stylesheet" href="~/TAApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/730f0c115e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-red">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="Index">Applications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Roles">Role Selector</a>
                        </li>
                    }
                    @if (User.IsInRole("Professor"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="List">Applications</a>
                        </li>
                    }
                    @if (User.IsInRole("Applicant"))
                    {
                        bool result = false;
                        @foreach (var item in @data.Application.Include(o => o.User).ToList())
                        {
                            @if (User.Identity.Name == item.User.Unid) {
                                result = true;
                                <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="Details" asp-route-id="@item.ID">Application Details</a>
                            } 
                        }
                        @if (!result) {
                           <a class="nav-link" asp-area="" asp-controller="Applications" asp-action="Create">Create Application</a>
                        }
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            TA
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                               <span>Abedalnaser Elmughrabi</span>
                            </li>
                            <li>
                                <hr>PS5
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Applications" asp-action="Index">Dashboard</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Applications" asp-action="List">List</a>
                            </li>
                            @foreach (var item in @data.Application.Include(o => o.User).ToList())
                            {
                                @if (item.User.Unid == "u0000000")
                                {
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Applications" asp-action="Details" asp-route-id="@item.ID">Details</a>
                                    </li>
                                }
                            }
                            <li>
                                <hr>Admin
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Roles">Role Selector</a>
                            </li>
                            <li>
                                <hr>OLD
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="OLD" asp-action="ApplicantList">List</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="OLD" asp-action="ApplicantCreate">Create</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="OLD" asp-action="ApplicantDetails">Details</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>

    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TAApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required:false)
</body>
</html>
